---
layout: boudaie
id: "work"
title: "Work | Brenda Boudaie"
description: Brenda Boudaie's personal website. Brenda graduated with a degree in Computer Science and has always had a passion for design.
---

<div class="main" id = "work">
    <div class = "work-module" id = "work-module-1">
        <div class="scene">
            <h1>Browse my work</h1>
            <div class="magic"></div>
        </div>
        <img class ="mobile-only work-peep" src="./assets/work-peep.png">
    </div>
    <div class = "work-module" id = "work-module-2">
        <div class="timeline">
          <ul>
            <span class="default-line"></span>
            <span class="draw-line"></span>
              <li>
                <div>
                  <p>1/3</p>
                </div> 
              </li>
              <li>
                <div>
                  <p>2/3</p>
                </div> 
              </li>
                  <li>
                <div>
                  <p>3/3</p>
                </div> 
              </li>
          </ul>
        </div>
        <div class = "work-featured">
          {% for item in site.data.featured-brands %}
          <div class = "featured-item">
            <img src = "{{item.image}}">
            <div class = "featured-item-description">
              <h2 style="font-weight: 600;">{{item.title}}</h2>
              <p>{{item.description}}</p>
              <p>{{item.position}}</p>
              <a href = "{{item.url}}" target="_blank">Visit website</a>
            </div>
          </div>
          {%endfor%}
        </div>
    </div>
    <div class = "work-module" id = "work-module-3">
      <div class = "module-header-left">
        <h2>Other brands I've worked with</h2>
      </div>

        <div class="brands-filter">
          <button class="btn current" data-filter="item">All</button>
          <button class="btn" data-filter="shopify">SHOPIFY</button>
          <button class="btn" data-filter="squarespace">SQUARESPACE</button>
          <button class="btn" data-filter="custom">CUSTOM BUILD</button>
        </div>

        <div class="all-work-grid three-column-grid">
          {% for item in site.data.brands %}
          <div class="item three-column-grid-item {{item.platform}} ">
            <img src = "{{item.image}}">
            <div>
              <h3>{{item.title}}</h3>
              <p>{{item.role}}</p>
              <a href = "{{item.url}}" target="_blank">Visit website</a>
            </div>
          </div>
          {%endfor%}
        </div>


        <!-- <div class="work-grid">
          {% for item in site.data.brands %}
          <div class="item work-grid-item {{item.platform}} ">
            <img src = "{{item.image}}">
            <div>
              <h3>{{item.title}}</h3>
              <p>{{item.role}}</p>
              <a href = "{{item.url}}" target="_blank">Visit website</a>
            </div>
          </div>
          {%endfor%}
        </div> -->
      </div>

      <div class = "work-module" id = "work-module-4">
        {% include contact-component.html %}
      </div>
    </div>

</div>
  

<style>
#work-module-4{
  position: relative;
  height: 85vh;
}
.scene {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}
#work h1 {
  position: relative;
  color: #fff;
  z-index: 10;
  padding: 30px 0 0 60px;
  width: 70%;
}

.magic {
  z-index: 5;
  position: absolute;
  top: calc(50% - 10rem);
  left: calc(50% - 10rem);
  width: 20rem;
  height: 20rem;
  background: url('/assets/work-hover.jpg') 50% 50% no-repeat fixed;
  background-size: cover;
  border-radius: 50%;
}
#work-module-2{
  position: relative;
  display: inline-block;
}
.work-featured{
  height: 530px;
}
.work-featured .featured-item{
  height: 100%;
  display: grid;
  grid-template-columns: auto auto;
  width: 90vw;
  margin-left: 150px;
  align-items: center;
}
.work-featured .featured-item:nth-child(even){
  direction: rtl;
  text-align: left;
  margin-left: 100px;
}
.featured-item img{
  height: 25vw;
}
.featured-item-description{
  width: 40vw;
  color: white;
}
#work-module-3{
  margin-top: 150px;
}
.brands-filter{
  text-align: center;
  margin: 75px 0px;
}
.work-grid{
  display: grid;
  grid-template-columns: auto auto auto;
  /* justify-content: center; */
  gap: 50px;
  margin-top: 50px;
  width: calc(100% - 120px);
  margin: 50px auto 0px auto;
}
.work-grid .work-grid-item{
  background-color: white;
  /* width: 330px;
  height: 525px; */
  border-radius: 20px;
}
.work-grid .work-grid-item img{
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  max-height: 376px;
}
.work-grid .work-grid-item div{
  padding: 10px 20px;
}
.work-grid h3{
  margin: 0;
}
.work-grid p, .work-grid a{
  font-size: 14px;
}

/**************************** TABLET ****************************/
@media screen and (max-width: 942px) {
body{
  overflow-x: hidden;
}
#work h1{
  font-size: 100px;
}
.work-featured .featured-item {
    width: 90vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 120px;
    width: auto;
}
.featured-item-description{
    width: 85vw;
  }

}

/**************************** MOBILE ****************************/
@media screen and (max-width: 767px) {
  .magic {
    background: none;
  }
  .scene{
    display: block;
  }
  .work-peep{
    display: block;
    position: absolute;
    top: calc(100vh - 80vw - 55px);
    right: -50px;
    width: 75vw;
  }

  .work-featured .featured-item,  .work-featured .featured-item:nth-child(even){
    /* margin-left: 100px; */
    display: block;
    text-align: center;
    direction: ltr;
  }

  .featured-item-description{
    /* width: 260px; */
    text-align: left;
  }
  /* 
  .work-grid{
    display: block;
    width: calc(100% - 40px);
  }
  
  .work-grid .work-grid-item{
    margin: 25px auto;
  }
  .work-grid .work-grid-item img{
    max-height: none;
  }
  */
  button{
    margin: 10px 0px;
  }
  #work h1{
    z-index: 1; 
    font-size: 65px;
    padding: 125px 0 0 20px;
    margin: 0;
  }
}

/**************************** MOBILE ****************************/
@media screen and (max-width: 500px) {
  .featured-item img {
    height: 40vw;
  }  
  .work-featured .featured-item {
    margin-left: 100px;
  }
  .featured-item-description{
    width: 260px;
  }
  #work-module-3 {
    margin-top: 220px;
}
}


</style>

<script>
// Hero Hover Reveal
// --------------------------------------------------------------
if (window.innerWidth > 767){
  $(document).ready(function() {
  var $magic = $(".magic"), magicWHalf = $magic.width() / 2;
  $(document).on("mousemove", function(e) {
    $magic.css({"left": e.pageX - magicWHalf, "top": e.pageY - magicWHalf});
  });
});
}
// Timeline Scroll Section
// --------------------------------------------------------------
var items = $(".timeline li"),
timelineHeight = $(".timeline ul").height(),
greyLine = $('.default-line'),
lineToDraw = $('.draw-line');

// sets the height that the greyLine (.default-line) should be according to `.timeline ul` height

// run this function only if draw line exists on the page
if(lineToDraw.length) {
  $(window).on('scroll', function () {

    // Need to constantly get '.draw-line' height to compare against '.default-line'
    var redLineHeight = lineToDraw.height(),
    greyLineHeight = greyLine.height(),
    windowDistance = $(window).scrollTop(),
    windowHeight = $(window).height() / 2,
    timelineDistance = $(".timeline").offset().top;

    if(windowDistance >= timelineDistance - windowHeight) {
      line = windowDistance - timelineDistance + windowHeight;

      if(line <= greyLineHeight) {
        lineToDraw.css({
          'height' : line + 20 + 'px'
        });
      }
    }

    // This takes care of adding the class in-view to the li:before items
    var bottom = lineToDraw.offset().top + lineToDraw.outerHeight(true);
    items.each(function(index){
      var circlePosition = $(this).offset();

      if(bottom > circlePosition.top) {				
        $(this).addClass('in-view');
      } else {
        $(this).removeClass('in-view');
      }
    });	
  });
}

// Work Filtering
// --------------------------------------------------------------
jQuery(function ($) {
  var $items = $(".all-work-grid .item");
  var $btns = $(".brands-filter .btn").on("click", function () {
    var active = $btns
      .removeClass("current")
      .filter(this)
      .addClass("current")
      .data("filter");
    $items
      .hide()
      .filter("." + active)
      .fadeIn(450);
  });
});

</script>

