<footer id="footer" {%if page.id == "work"%} style = "margin-top: 0;" {%endif%}>
    <a href = "/contact.html">Contact Brenda</a>  
    <p style="margin-bottom: 0">Built By Brenda Boudaie</p>
    <p style="margin-top: 2px">&copy {{"now"| date: "%Y"}} all rights reserved</p>
  </footer>
  
  <style>
    footer {
      /* bottom: 0;
      left: 0; */
      width: 100%;
      color: #818181;
      text-align: center;
      margin-top: 125px;
    }
    footer a{
      font-weight: 600;
    }
  </style>
  