<footer id="footer">
  <span>
    <a href="https://www.linkedin.com/in/brendaboudaie/" target="_blank">
      <img src="assets/linkedin logo.png" width="42px"
    /></a>
    <a href="https://github.com/brendaboudaie" target="_blank">
      <img src="assets/github logo.png" width="42px"
    /></a>
  </span>
  <p style="margin-bottom: 0">Built By Brenda Boudaie</p>
  <p style="margin-top: 2px">&copy {{"now"| date: "%Y"}} all rights reserved</p>
</footer>

<style>
  footer {
    bottom: 0;
    left: 0;
    width: 100%;
  }
  footer p {
    text-align: center;
    font-family: "Optima";
  }
  footer span {
    display: block;
    text-align: center;
    margin-top: 30px;
  }
  footer span a {
    margin-left: 15px;
    margin-right: 15px;
    transition: ease-in-out 0.5s;
  }
  footer span a:hover {
    opacity: 45%;
  }

  @media screen and (max-width: 767px) {
    footer {
      margin-top: 55px;
    }
    footer p {
      margin-top: 0px;
    }
  }
</style>
