<div class = "boudaie-navigation">
    <a href="/test-home.html" class="logo">
        <p>B</p>
    </a>
    <ul class = "nav-items">
        <li><a {%if page.title contains "Work"%} style = "font-weight: 600;"{%endif%} href = "/test-work.html">Work</a></li>
        <li><a {%if page.title contains "About"%} style = "font-weight: 600;"{%endif%} href = "/test-about.html">About</a></li>
        <li><a {%if page.title contains "Contact"%} style = "font-weight: 600;"{%endif%} href = "/test-contact.html">Contact</a></li>
    </ul>
</div>

<style>
    .boudaie-navigation{
        position: absolute;
        top: 0;
        width: calc(100vw - 90px);
        z-index: 99;
        padding: 15px 45px;
    }
    .boudaie-navigation .logo{
        /* position: absolute; */
        float: left;
        top: 25px;
        left: 45px;
        font-size: 45px;
        
    }
    .logo p{
        padding: 0;
        margin: 0;
        font-family: 'Work Sans', sans-serif;    
        font-weight: 600;
        color: white;
    }
    .nav-items{
        float: right;
        float: right;
        list-style: none;
        color: white;
    }
    .nav-items li{
        display: inline-block;
        margin-right: 50px;
    }
    .nav-items li:last-child{
        margin-right: 0px;
    }
    .nav-items li a{
        color: white;
        transition: all 0.2s ease-in-out;
    }
    /* .nav-items li a:hover{
        color: #4c6082;
    } */
</style>