<div class="main-navigation" >
  <div class="left-navigation">
    <a href="/" class="name-logo">
      <p class="fname logoname">Brenda</p>
      <p class="lname logoname">Boudaie</p>
    </a>
  </div>

  <div class="right-navigation">
    <a href="work">Work</a>
    <a class="chat-button" href="contact">Contact</a>
  </div>
</div>

<style>
  .main-navigation {
    position: absolute;
    top: 15px;
    width: 95%;
    height: 97px;
    background: transparent;
    left: 50%;
    transform: translateX(-50%);
  }
  .left-navigation {
    position: absolute;
    top: 1em;
    left: 2em;
  }
  .right-navigation {
    position: absolute;
    right: 3em;
    height: 100%;
    top: 1.5em;
    font-family: "Optima";
  }
  .right-navigation a:first-child{
    color: black;
  }
  .name-logo {
    color: black;
    text-decoration: none;
    /* font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; */
    font-size: 25px;
    /* font-weight: 900; */
    text-transform: uppercase;
    line-height: 0.6;
    font-family: Gill Sans, sans-serif;
    font-weight: 100;
  }
  .fname {
    line-height: 0;
    padding: 0;
    /* letter-spacing: 2px; */
  }
  .lname {
    line-height: 0;
    margin-top: -6px;
    letter-spacing: 2.9px;
    letter-spacing: -1.5px;
  }
  .chat-button {
    font-family: "Optima";
    background: #3f4c66;
    color: white;
    position: inline-block;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 15px;
    border: 1px solid #3f4c66;
    margin-left: 15px;
    transition: ease-in-out 0.35s;

    background-size: 200%;
    background-image: linear-gradient(to right, #3f4c66 50%, #bfb8af 50%);
  }
  .chat-button:visited {
    color: white;
  }
  .chat-button:hover {
    background-position: -100%;
    color: black;
  }
  .chat-button a {
    color: #bfb8af;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    text-decoration: none;
  }

  @media screen and (max-width: 767px) {
    .logoname {
      font-size: 17px;
    }
    .lname {
      margin-top: -4px;
    }
    .chat-button {
      background-image: none;
      width: 150px;
      line-height: 60px;
    }
    .chat-button:hover {
      color: white;
    }
    .left-navigation {
      top: 0;
      left: 0;
    }
    .right-navigation {
      right: 0;
      top: -10px;
    }
    .navigation-background{
      height: 25px;
      padding: 15px;
      background-color: white;
    }
  }
</style>
