---
---

body{
    background-color: #242424;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, li{
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
}

p, a{
  font-family: 'Work Sans', sans-serif;
  font-weight: 100;
}

a{
  text-decoration: none;
}

.featured-item-description a{
    text-decoration: none;
    text-decoration: underline;
}

a:visited{
    color: inherit;
    text-decoration: none;
}

.homepage-module{
    position: relative;
    display: block;
    height: 100vh; width: 100vw;
    height: 95vh;
}

.absolute-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@mixin global-transition {
    transition: 0.125s ease-in-out, background-color 0.2s ease-out, color 0.1s ease-out, border 0.1s ease-out;
}
  
  .timeline {
    // padding: 50px;
    position: absolute;
    ul {
      padding: 0;
    }
  
    .default-line {
      content: '';
      position: absolute;
      left: 40px;
      width: 4px;
      background: #494949;
      height: 1525px;
    }
  
    .draw-line {
      width: 4px;
      height: 0;
      position: absolute;
      left: 40px;
      background: #bac6dc;
    }
  
    ul li {
      list-style-type: none;
      position: relative;
      width: 2px;
    //   margin: 0 auto;
      height: 515px;
      background: transparent;
  
      &.in-view {
        @include global-transition;
  
        &::before {
          content: '';
          position: absolute;
          left: 40px;
          top: 0;
          transform: translateX(-45%);
          width: 42px;
          height: 42px;
        //   border-radius: 50%;
          background-color: #bac6dc;
          background-size: 20px 20px;
          background-repeat: no-repeat;
          background-position: center;
          @include global-transition;
        }
        &::before:nth-child(1){
            content: '1/3';
        }
        &::before:nth-child(2){
            content: '2/3';
        }
        &::before:nth-child(3){
            content: '3/3';
        }
      }
  
      &::before {
        content: '';
        position: absolute;
        left: 40px;
        top: 0;
        transform: translateX(-45%);
        width: 12px;
        height: 12px;
        // border-radius: 50%;
        background: inherit;
        background: #494949;
        transition: all .4s ease-in-out;
      }
    }
    li div p{
        position: absolute;
        left: 32px;
        top: -5px;
    }
  }