
body{
    position: relative;
    background-color: white;
    cursor: default;
    margin: 0;
}

.cocoen{
  cursor: default !important;
}

.mobile-view{
  display: none;
}

.position-relative{
  display: none;
}

#button{
  display: none;
}

.top-nav{
  position: fixed;
  top: 0;
  width: 100%;
  height: 97px;
  /* border: 2px solid; */
  background: transparent;
  border-radius: 35px;
}

.left-nav{
  position: absolute;
  top: 1em;
  left: 2em;
}

.right-nav{
  position: absolute;
  top: 1em;
  right: 3em;
}

.menu-title{
    color: black;
    padding: 16px;
    font-size: 18px;
    border: none;
    background: transparent;
    text-decoration: none;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin: 0;
    cursor: pointer;
}

.menu-title:hover{
    background-color: #c1b8ae;
}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #c1b8ae;
    min-width: 165px;
    z-index: 1;
    /* width: 90%; */
    left: -71px;
    text-align: left;
}
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 18px;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
      background-color: #dcd2c6;
      transition-duration: 1s;
    }

  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
      display: block;
    }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
      background-color: #c1b8ae;
    }

    @keyframes moveCocoenDrag {
      0% {
        left: 50%;
      }
      25% {
        left: 48%;
      }
      75%{
        left: 52%;
      }
      100%{
        left: 50%;
      }
    }

    @keyframes changeImageWidth {
      0% {
        width: 50%;
      }
      25% {
        width: 48%;
      }
      75%{
        width: 52%;
      }
      100%{
        width: 50%;
      }
    }

    @keyframes mobileMoveCocoenDrag {
      0% {
        left: 50%;
      }
      25% {
        left: 44%;
      }
      75%{
        left: 56%;
      }
      100%{
        left: 50%;
      }
    }

    @keyframes mobileChangeImageWidth {
      0% {
        width: 50%;
      }
      25% {
        width: 44%;
      }
      75%{
        width: 56%;
      }
      100%{
        width: 50%;
      }
    }

  .cocoen-drag{
    animation-delay: 1s;
    animation-name: moveCocoenDrag;
    animation-duration: 1.5s;
  }

  .cocoen div{
    animation-delay: 1s;
    animation-name: changeImageWidth;
    animation-duration: 1.5s;
  }

  .section-about{
    height: 600px;
    width: 100vw;
    background: #3f4c66;
    position: relative;
    overflow: hidden;
  }

  .left-split-about{
    height: 100%;
    width: 100%;
    position: relative;
    background: #bfb8af;
    clip-path: polygon(0 0, 0 100%, 71% 100%, 69% 0);
    -webkit-clip-path: polygon(0 0, 0 100%, 71% 100%, 69% 0);
  }

  .left-split-about .chat-button{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 165px;
    background: #3f4c66;
    color: #bfb8af;
    position: absolute;
    line-height: 65px;
    text-align: center;
    bottom: 5vw;
    left: 28%;
  }

  .left-split-about .chat-button a{
    color: #bfb8af;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 18px;
    text-decoration: none;
  }

  .left-split-about .chat-button a:visited{
    color: #bfb8af;
    text-decoration: none;

  }

  .left-split-about .chat-button a:hover{
    opacity: 25%;
    transition-duration: 0.8s;
  }

  .about-text-container{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #3f4c66;
    position: absolute;
    top: 1em;
    left: 3em;
    width: 60%;
  }

  .about-text-container h1{
    font-size: 50px;
  }

  .about-text-container p{
    font-size: 20px;

  }

  .about-text-container p a {
    color: #3f4c66;
  }
  .about-text-container p a:visited {
    color: #3f4c66;
  }
  .about-text-container p a:hover {
    color: black;
  }

  .about-photo{
    position: absolute;
    top: 20px;
    left: 57%;
    width: 397px;
  }

  .section-about h2{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 160px;
    color: #bfb8af;
    position: absolute;
    top: 199px;
    right: -234px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    letter-spacing: 5px;
    margin: 0;
  }

  footer{
    bottom: 0;
    left: 0;
    width: 100%;
  }

  footer p{
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  }

  footer span{
    display: block;
    text-align: center;
    margin-top: 30px;
  }

  footer span a {
    margin-left: 15px;
    margin-right: 15px;
  }
  footer span a:hover{
    opacity: 45%;
    transition-duration: 1s;
  }

/* When the browser window is 767px wide or less */
@media screen and (max-width: 767px) {
  html {
    scroll-behavior: smooth; /* For the scroll button */
    -webkit-overflow-scrolling: touch;
  }

  .tablet-view{
    display: none !important;
  }
  .mobile-view{
    display: block !important;
    height: 80vh !important;
    margin-bottom: 30px !important;
  }

  .position-relative{
    position: relative;
    display: block;
  }

  #button{
    display: block;
    position: absolute;
    height: 52px;
    width: 52px;
    border-radius: 50%;
    border: 1px solid grey;
    background: #d4bfa9;
    bottom: -23px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    box-shadow: 0px 14px 25px -4px grey;
  }

  #button img{
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 80%);
    transform: translate(-50%, 80%);
  }
  
  .cocoen-drag{
    top: 100px !important;
  }
  .top-nav{
    background: white;
    height: 97px;
}
  .menu-title{
    padding: 16px;
    font-size: 14px;
  }
  .right-nav{
    right: 1em;
  }

  .dropdown-content a {
    font-size: 14px;
  }

  .dropdown-content {
    min-width: 40vw;
  }

  .cocoen-drag{
    animation-delay: 1s;
    animation-name: mobileMoveCocoenDrag;
    animation-duration: 1.5s;
  }
  .cocoen div{
    animation-delay: 1s;
    animation-name: mobileChangeImageWidth;
    animation-duration: 1.5s;
  }
  .about-photo{
    display: none;
  }
  .left-split-about{
    -webkit-clip-path: polygon(0 0, 0 100%, 70% 100%, 70% 0);
    clip-path: polygon(0 0, 0 100%, 70% 100%, 70% 0);
  }
  .section-about h2{
    font-size: 145px;
    right: -220px;
  }
  .about-text-container{
    left: 1em;
    top: 1em;
    width: 60%;
  }
  .about-text-container h1{
    margin: 0;
    font-size: 30px;
  }
  .about-text-container p{
    font-size: 18.6px;
  }
  .left-split-about .chat-button {
    width: 150px;
    line-height: 60px;
    bottom: 5vw;
    left: 10%;
}
}